.close-modal-icon {
    position: absolute;
    top:0;
    right:5px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.commentsModal-comment {
    width: 70%;
}

.commentsModal-date {
    font-size: 0.8em;
}

.comments-table {
  display: block; /* important */
  height: 500px;
  overflow-y: scroll;
}