.navbar {
    height: 10vh; 
    background-color: rgb(53, 53, 53);
    .links {
        padding-bottom: 10px !important;
    }
    .App-logo {
        height: 90%;
         width: auto; 
        }

    // .col {border: solid red;}
    .row {width: 100%}

    a, #mega-menu {
        display: inline-block; 
        padding: 10px 10px 10px 10px;
         color: rgb(255, 185, 29); 
         float: right !important;
        }

    .header-item:hover {
        background-color: rgb(81, 81, 81);
        text-decoration: none;
    }
}