.navbar {
    height: 13vh; 
    background-color: #333333;
    .links {
        padding-bottom: 10px !important;
    }
    .App-logo {
        margin-top: 2%;
        height: 80%;
        width: 30%; 
        }

    // .col {border: solid red;}
    .row {width: 100%}

    .header-item, #mega-menu {
        display: inline-block; 
        padding: 10px 10px 10px 10px;
         color: #ffe600; 
         float: right;
        }

    .header-item:hover {
        background-color: #333333;
        text-decoration: none;
    }
    .header-elem {cursor: pointer;}
}

.import-wrapper {
    margin: 100px 75px 0px 75px;
    padding: 50px;
    border: solid #c0c0c0 1px;
}

.title {
color: #fff;
    float: left;
    vertical-align: middle;
    margin-left: 0px;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 25px;
    line-height: 30px;
}

.customToogle:hover {
    background-color: #999999;
    text-decoration: none;   
}

.dropdown-toggle::after {
    display: none;
}

a:hover {
    background-color: #999999;
    text-decoration: none;   
}

.navbar-brand{
    padding-left: 15px;
}

.import-wrapper {
    margin: 100px 75px 0px 75px;
    padding: 50px;
    border: solid #999999 1px;
}

.dropdown-toggle::after {
    display: none;
}