.machine-picker-button {
    .dropdown-toggle::after {
        margin-left: 6%;
        float: right;
        margin-top: 4%;
    }
}

.dropdown-toggle, .btn-primary {
    border: solid 1px #c0c0c0;
    width: 60%;
    background-color: #f0f0f0;
    color: #333333;
    text-align: left;
}

.machine-picker div {
    max-height: 50vh !important;
    overflow-y: scroll;
    width: 60%;
}

.btn-primary.dropdown-toggle {
    color: #f0f0f0;
    background-color: #00a3ae;
    border-color: #00a3ae;
}

.show > .btn-primary.dropdown-toggle {
    color: #f0f0f0;
    background-color: #00a3ae;
    border-color: #00a3ae;
}

.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #00a3ae;
}

.dropdown-menu > a:hover {
    background-color: #c0c0c0;
}
