.machine-picker-button {
    .dropdown-toggle::after {
        margin-left: 6%;
        float: right;
        margin-top: 8%;
    }
}

.dropdown-toggle, .btn-primary {
    border: solid 1px lightgrey;
    width: 50%;
    background-color: white;
    color: black;
    text-align: left;
}

