  .navbar a:hover, .dropdown:hover .dropbtn {
    // background-color: white;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    margin-top: 25px;
    background-color: #f0f0f0;
    width: 100%;
    left: 0;
    right: 0;
    box-shadow: 0px 8px 16px 0px #333333;
    z-index: 1;
  }
  
    .opened {
    display: block !important;
  }
  
  .mega-menu-wrapper {padding: 30px;}

  /* Create three equal columns that floats next to each other */

  .mega-menu-children:nth-child(5) p {
    visibility: hidden;
  }

  .title_child{
    color: #333333;
  }