.shift-picker-button {
    .dropdown-toggle::after {
        float: right;
        margin-top: 8%;
    }
}

.dropdown-toggle, .btn-primary {
    border: solid 1px lightgrey;
    width: 35%;
    background-color: white;
    color: black;
    text-align: left;
}