ui/node_modules
ui/build
ui/.vscode
api/bin
api/node_modules
api/.deployment
api/.vscode
old_api/node_modules
old_api/bin
old_api/.vscode
database/DeployDatabase/DeployDatabase/.vs
database/DeployDatabase/DeployDatabase/bin
database/DeployDatabase/DeployDatabase/obj
database/DeployDatabase/Parker_CTP_Dev/bin
database/DeployDatabase/Parker_CTP_Dev/obj
database/DeployDatabase/Parker_CTP_Dev/Parker_CTP_Dev.dbmdl
database/DeployDatabase/Parker_CTP_Dev/Parker_CTP_Dev.jfm
database/DeployDatabase/Parker_Dev/bin
database/DeployDatabase/Parker_Dev/obj
database/DeployDatabase/Parker_Dev/Parker_Dev.dbmdl
database/DeployDatabase/Parker_Dev/Parker_Dev.jfm
database/DeployDatabase/Parker_Test/bin
database/DeployDatabase/Parker_Test/obj
database/DeployDatabase/Parker_Test/Parker_Test.dbmdl
database/DeployDatabase/Parker_Test/Parker_Test.jfm
database/DeployDatabase/Parker_Prod/bin
database/DeployDatabase/Parker_Prod/obj
database/DeployDatabase/Parker_Prod/Parker_Prod.dbmdl
database/DeployDatabase/Parker_Prod/Parker_Prod.jfm