ui/node_modules
ui/build
ui/.vscode
ui/package-lock.json
api/bin
api/node_modules
api/.deployment
api/.vscode
api/package-lock.json
old_api/node_modules
old_api/bin
old_api/.vscode
old_api/package-lock.json