@import "_colors";


.btnYellow {
  color           : $color-orange;
  background-color: transparent;
  border-color    : $color-orange;
}

.btnYellow:hover {
  color           : $color-white;
  background-color: $color-orange;
  border-color    : $color-orange;
}

.btnGreen {
  color           : $color-green;
  background-color: transparent;
  border-color    : $color-green;
}

.btnGreen:hover {
  color           : $color-white;
  background-color: $color-green;
  border-color    : $color-green;
}

.btnRed {
  color           : $color-red;
  background-color: transparent;
  border-color    : $color-red;
}

.btnRed:hover {
  color           : $color-white;
  background-color: $color-red;
  border-color    : $color-red;
}
