@import "_colors";


.btnYellow {
  color           : $color-orange;
  background-color: transparent;
  border-color    : $color-orange;
}

.btnYellow:hover {
  color           : $color-white;
  background-color: $color-orange;
  border-color    : $color-orange;
}

.btnGreen {
  color           : $color-green;
  background-color: transparent;
  border-color    : $color-green;
}

.btnGreen:hover {
  color           : $color-white;
  background-color: $color-green;
  border-color    : $color-green;
}

.btnRed {
  color           : $color-red;
  background-color: transparent;
  border-color    : $color-red;
}

.btnRed:hover {
  color           : $color-white;
  background-color: $color-red;
  border-color    : $color-red;
}

.escalation_inital {
  color: $color-orange-back;
}

.escalation_warning {
  color: $color-warning;
}

.escalation_danger {
  color: $color-red;
}

.escalation_icon_inital,
.escalation_icon_warning {
  animation: blinker 1s step-end infinite alternate;
}

.escalation_icon_danger {
  animation: blinker .1s step-end infinite alternate;
}

@keyframes blinker {
  50% {
    color: $color-white;
  }
}

.border_escalation_inital {
  border   : 2px solid $color-orange-back;
  animation: blinker2 1s step-end infinite alternate;
}

.border_escalation_warning {
  border   : 2px solid $color-warning;
  animation: blinker2 1s step-end infinite alternate;
}

.border_escalation_danger {
  border   : 2px solid $color-red;
  animation: blinker2 .1s step-end infinite alternate;
}

@keyframes blinker2 {
  50% {
    border-color: $color-white;
  }
}