.logoffbuttons {
    margin-top: 5%;
    margin-bottom: 5%;
}

.logoffbuttons .btn {
    margin-left: 4%;
    height: 200%;
    width: 50%;
    font-weight: bold;
    font-size  : medium;
    text-align: center;
}

.LogOffMessage {
    font-size: x-large;
}