#administrator {
  margin: 30px 30px;
}

.filter-user {
  margin-top: 30px;
  border-style: groove;
  border-radius: 5px;
  height: 60px;
  margin-bottom: 30px;

  .filter-button {
    width: auto;
    height: auto;
    display: flex;
    float: right;
    margin-right: 30px;
    margin-top: -40px;
    background-color: rgb(73, 181, 243);
    border-style: groove;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    padding-right: 25px;
    color: white;
    cursor: pointer;
  }

  .p-filter{
    width: auto;
    height: auto;
    display: flex;
    margin-top: 15px;
    font-weight: bold;
    margin-left: 20px;
  }

  .p-status{
    float: left;
    width: auto;
    height: auto;
    display: flex;
    margin-left: 100px;
    margin-top: -39px;

    &.role{
      margin-left: 30px;
    }
  }

  .drop-status{
    max-width: 100px;
    float: left;
    /* width: auto; */
    height: auto;
    display: flex;
    margin-top: -40px;
    margin-left: 10px;
  }
}

//STYLES FOR CARD

.card-component {
  border-style: groove;
  border-radius: 5px;
  width: 12%;
  cursor: pointer;

  &.common {
    margin-left: 250px;
    margin-top: -143px;
    padding-bottom: 10px;
  }

  &.assets {
    margin-left: 500px;
    margin-top: -142px;
  }

  &.reason {
    margin-left: 750px;
    margin-top: -143px;
  }

  &.device {
    margin-left: 1000px;
    margin-top: -142px;
  }

  &.shifts {
    margin-top: 50px;
  }

  &.uom {
    margin-left: 250px;
    margin-top: -143px;
  }

  &.break {
    margin-left: 500px;
    margin-top: -142px;
  }

  &.display {
    margin-left: 750px;
    margin-top: -143px;
  }

  &.work {
    margin-left: 1000px;
    margin-top: -142px;
  }

  //   :hover {
  //     background-color: #aaaaaa;
  //   }

  .icon {
    width: 20%;
    margin-left: 56px;
    margin-top: 15px;
    height: auto;
  }

  .p-number {
    color: #aaaaaa;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
  }

  .p-name {
    color: #aaaaaa;
    text-align: center;
    margin-top: -10px;
    font-size: 20px;
  }
}
