#administrator {
  margin: 30px 30px;
}

//STYLES FOR CARD

.card-component {
  border-style: groove;
  border-radius: 5px;
  width: 12%;
  cursor: pointer;

  &.common{
    margin-left: 250px;
    margin-top: -143px;
    padding-bottom: 10px;
  }

  &.assets{
    margin-left: 500px;
    margin-top: -142px;
  }

  &.reason{
    margin-left: 750px;
    margin-top: -143px;
  }

  &.device{
    margin-left: 1000px;
    margin-top: -142px;
  }

  &.shifts{
    margin-top: 50px;
  }

  &.uom{
    margin-left: 250px;
    margin-top: -143px;
  }

  &.break{
    margin-left: 500px;
    margin-top: -142px;
  }

  &.display{
    margin-left: 750px;
    margin-top: -143px;
  }

  &.work{
    margin-left: 1000px;
    margin-top: -142px;
  }

  //   :hover {
  //     background-color: #aaaaaa;
  //   }

  .icon {
    width: 20%;
    margin-left: 56px;
    margin-top: 15px;
  }

  .p-number {
    color: #aaaaaa;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
  }

  .p-name {
    color: #aaaaaa;
    text-align: center;
    margin-top: -10px;
    font-size: 20px;
  }
}
