@import '../sass/colors';

.intershift-communication-comments {
    margin-top: 30px;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid rgb(226, 226, 226);
}

.intershift-read-more {
    float: right;
    text-decoration: underline;
}

.intershift-read-more:hover {
    cursor: pointer;
    color: $color-link;
}

.intershift-comment div { 
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: inherit;
}

#intershift-table {
    max-height: 200px;
    overflow-x: hidden;
}

.intershift-comment-date {
    font-size: 0.75em;
}

.order-modal-two {
    list-style-type: none;
}