@import '../sass/_colors.scss';

.wrapper-main {
    // height: 90vh;
    background-color: white;
    padding: 2%;
};

.ideal-click {
    color: rgb(88, 88, 88); 
    cursor: pointer; 
    text-overflow: scroll;
    
    .react-table-click-text {
        // text-decoration: underline; 
        padding-right: 5px;
    } 
}

    .fa-search-plus {float: right;}
    .dashboard-modal-field-group > * {display: inline}

    .table-click:hover {
        cursor: pointer;
        color: $color-link;
    }
    
    .icon-arrow {
        font-weight: 400;
        padding: 10px;
        cursor: pointer;
        font-size: 1.4em;
    }

    .shift-arrow-text {
        text-decoration: underline;
    }

    .shift-buttons {
        margin-bottom: 10px;
    }

    #previous-shift:hover, #current-shift:hover, .icon-arrow:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .semi-button-shift-change-right {
        float: right;
    }

    #semi-button-deck {
        background-color: $color-orange;
        color: rgb(61, 61, 61);
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 5px;
    }

    .wordwrap {
        white-space: pre-line !important;
        word-wrap: break-word;
      }

    .editable:hover {color: $color-orange; cursor: pointer;}

    .editable {
        cursor: pointer;
        background-color: rgb(246, 246, 246);
        padding: 100%;
        overflow: scroll;
        color: red;
    }

    .comments {font-size: 0.8em;}
#previous-shift, #current-shift {text-decoration: underline; padding: 8px 8px 8px 5px; margin-bottom: 5px !important;}
#previous-shift:hover, #current-shift:hover {background-color: rgb(207, 153, 3);}