@import '../sass/_colors.scss';

.wrapper-main {
    // height: 90vh;
    background-color: white;
    padding: 2%;
};

.ideal-click {
    color: grey; 
    cursor: pointer; 
    
    .react-table-click-text {
        text-decoration: underline; 
        padding-right: 5px;
    } 
    
    .comments {font-size: 0.8em;}
}

    .fa-search-plus {float: right;}
    .dashboard-modal-field-group > * {display: inline}

    .table-click:hover {
        cursor: pointer;
        color: $color-link;
    }