@import '../sass/_colors.scss';

.wrapper-main {
    // height: 90vh;
    background-color: white;
    padding: 2%;
};

.ideal-click {
    color: grey; 
    cursor: pointer; 
    
    .react-table-click-text {
        text-decoration: underline; 
        padding-right: 5px;
    } 
    
    .comments {font-size: 0.8em;}
}

    .fa-search-plus {float: right;}
    .dashboard-modal-field-group > * {display: inline}

    .table-click:hover {
        cursor: pointer;
        color: $color-link;
    }
    
    .icon-arrow {
        font-weight: 400;
        padding: 10px;
        cursor: pointer;
    }

    .shift-arrow-text {
        text-decoration: underline;
        // padding-bottom: 20px;
    }

    .shift-buttons {
        margin-bottom: 10px;
    }

    #previous-shift:hover, #current-shift:hover, .icon-arrow:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .semi-button-shift-change-right {
        float: right;
    }

    #semi-button-deck {
        background-color: rgb(82, 82, 82);
        color: $color-orange;
        padding-left: 3%;
        padding-right: 3%;
    }

    .wordwrap {
        white-space: pre-line !important;
        word-wrap: break-word;
      }

    .editable:hover {color: $color-orange; cursor: pointer;}

    .editable {
        cursor: pointer;
        background-color: rgb(246, 246, 246);
        padding: 100%;
        overflow: scroll;
        color: red;
    }